<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify OTP</title>
</head>
<body>
    <h1>OTP Verification</h1>
    <form method="post" action="{% url 'core:verify_otp' %}">
        {% csrf_token %}
        <label for="otp">Enter OTP:</label>
        <input type="text" name="otp" id="otp" maxlength="6" required>
        <button type="submit">Verify</button>
    </form>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    
    
</body>
</html>